[submodule "themes/lanyon"]
	path = themes/lanyon
	url = https://github.com/thinkcache/lanyon-hugo.git
[submodule "themes/tania"]
	path = themes/tania
	url = https://github.com/thinkcache/hugo-tania.git
